@import "tailwindcss";

@theme {
  --color-primary: #ea8bf3;
  --color-secondary: #f35b68;
}

@font-face {
  font-family: "gimlet";
  src: url("./fonts/gimlet-sans.woff") format("woff");
}

body {
  font-family: "gimlet";
}
