@import "tailwindcss";

@theme {
  --color-primary: #ea8bf3;
  --color-secondary: #f35b68;
}

@font-face {
  font-family: "gimlet";
  src: url("./fonts/gimlet-sans.woff") format("woff");
}

body {
  font-family: "gimlet";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
